@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800;900&display=swap');

* {
    font-family: Poppins;
    margin: 0;
    padding: 0;
    outline: 0;
}

img {
    width: 100px;
}


/* Header section starts here */
header {
    background-color: #636c79;
}

nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
    padding-top: 1%;
    padding-bottom: 1%;
    padding-left: 1%;
    padding-right: 1%;  
}

ul {
    list-style-type: none;
}

li > a {
    text-decoration: none;
    color: white;
}

.nav-items {
    margin-left: 25%;
    width: 50%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between;
}

.nav-item {
    margin-top: 10px;
}

.nav-item:hover {
    display: cursor;
}

.nav-lets-talk-button {
    color: white;
    background-color: transparent;
    border: solid 1px #6e7580;
    padding-left: 20px;
    padding-right: 20px;  
    padding-top: 10px;
    padding-bottom: 10px;  
}

.nav-lets-talk-button:hover {
    cursor: pointer;
}

.header-content-section {
    color: white;
    margin-left: 3%;
    margin-right: 3%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
}

.left-in-head {
    width: 49%;
}

.right-side-content {
    width: 49%;
}

.left-side-image {
    width: 75%;
}

.left-side-image img {
    width: 100%;
    height: auto;
}

.heading {
    margin-top: 10%;
    font-size: 4rem;
    font-weight: 800;
}

.details {
    font-size: 1.5rem;
    color: #d6d8db;
}

.input-box {
    margin-top: 3%;
    width: 90%;
    padding: 5px;
    display: inline-block;
    background-color: white;
}

input {
    font-size: 1rem;
    width: 75%;
    border: none;
}

.input-box i {
    margin: 5px;
    color: black;
}

.lets-talk-button {
    color: white;
    background-color: #8bb7a2;
    border: none;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 30px;
    padding-right: 30px;
}

.lets-talk-button:hover {
    cursor: pointer;    
}

/* Header section all completed */



/* Before all sections starts here */
.before-all-sections-container {
    margin-left: 5%;
    margin-right: 5%;
    margin-top: 5%;
    margin-bottom: 5%;
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-wrap: wrap;
}

.number-and-text-flex {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.before-all-sections-heading, .number {
    font-size: 2rem;
    font-weight: 600;
    margin-bottom: 3%;
}

.number {
    padding-left: 20%;
}

.before-all-sections-iamge-container {
    margin-top: 2%;
    width: 65%;
}

.before-all-sections-iamge-container img {
    width: 100%;
}
/* Before all section completes here */


/* Sections starts here */
section {
    margin: 3%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.left {
    width: 35%;
}

.pad {
    padding-top: 10%;
} 

.right {
    width: 37%;
}

.image-container img {
    width: 100%;

}

.title {
    font-size: 2rem;
    font-weight: 600;
}

.info {
    color: #898a8c;
    margin-top: 3%;
    margin-bottom: 3%;
} 
/* 3 sections completes here */

.second-last-section {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    margin-left: 10%;
    margin-right: 10%;
    margin-bottom: 10%;
}
.title-and-info {
    margin-bottom: 2%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between;
}

.title-new {
    width: 40%;
    font-weight: 600;
    font-size: 2.5rem;
}

.content {
    width: 40%;
    font-size: 1.2rem;
}

.tiles {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-bottom: 2%;
    
}   

.tile {
    width: 250px;
}

.tile img {
    width: 250px;
}

.name {
    font-weight: 600;
    font-size: 1.1rem;
    margin-bottom: 2%;
}

.person-detail-container {
    color:#636c79;
}

.see-more-button {
    background-color: #8bb7a2;
    color: white;
     border: none;
     padding: 10px 30px;
}
/* Second last section completes here */

footer {
    color: white;
    background-color: #10181d;
}

.logo-and-social-container {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-left: 5%;
    margin-right: 5%;
    padding-top: 1%;
}

.social-icons-container img {
    width: 250px;
}

.footer-second-part {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

footer li {
    padding: 10px;
    font-size: 0.75rem;
}

.list-heading {
    font-weight: 600;
    font-size: 1rem;
}
